/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;

	border:3px solid #931420;
	background-color: #fffded;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100;

}

section {
	width: 525;
	float: right;
	padding-bottom: 20px;
	padding-left: 20px;
}

aside {
	width: aside;
	float: right;
	padding-left:20px;
	padding-right:20px;
}
/* the styles for the header */



header {
	padding-top:1.5em;
	padding-bottom:2em;
	border-bottom:3px solid #931420;

}



header img {
	padding-left:30px;
	padding-right:30px;
	float: left;
	width:100px;
	height:100px;

	
	background-image: linear-gradient(30deg,#f6bb73, #f6bb73 30%, white 50%, #f6bb73 80%,#f6bb73 100%);

}

header h2 {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}

header h2 .shadow {
	text-shadow: #800000;
}

a:hover {
	font-style:italic;
}

/* the styles for the main content */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}

main h1 {
	border-top:3px solid #931420;
	border-bottom:3px solid #931420;
	padding-top:0.3em;
	padding-bottom:0.3em;

	border-radius: 10px;
	border-style: solid double;
	box-shadow: 3px 3px black;
	text-align: center;
}
main h2 {
	padding-top:0.5em;
	padding-bottom:0.25em;
}

main h3 {
	padding-bottom:0.25em;
}

main img{
	padding-bottom:lem;
	width:200px;
	padding-bottom: 0.5em;
	
}

main li{
	padding-bottom:0.35em;

}
	

/* the styles for the footer */

footer {
	
	background-color: #961420;
}

footer p {
	color:white;
	padding-top: lem;
	padding-bottom: lem;
	text-align: center;
	margin:opx;
}
